@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #hero{
    .hero{
      &--img{
        &__desc{
          &--ime{
            margin-left: 280px;
          }
          &--our{
            display: block;
            margin-left: 420px;
          }
        }
      }
    }
  }
  #sell{
    .sell{
      &--block{
        width: 90%;
      }
    }
  }
  #top{
    .top{
      flex-direction: column;
      &--block{
        margin-top: 10px;
      }
    }
  }
  #blog{
    .blog{
      flex-direction: column;
      &--title{
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #navbar{
    .navbar{
      &--btn{
        margin-right:130px;
      }
    }
  }
  #hero{
    .hero{
      flex-direction: column;
      width: 90%;
      &--img{
        &__art{
          img{
            margin-top: 40px;
          }
        }
      }
    }
  }
  #learn{
    .learn{
      &--title{
        flex-direction: column;
        p{
          padding: 20px 0;
        }

      }
      &--logo{
        flex-direction: column;
        &__block2{
          margin-top: 30px;
        }
      }
    }
  }
  #seller{
    .seller{
     flex-direction: column;
    }
  }
  #footer{
    .footer{
      flex-direction: column;
    }
  }
}

@media (max-width: 992px) {
  #hero{
    .hero{
      &--img{
        &__desc{
          margin-right: 160px;
        }
      }
    }
  }
  #sell{
    .sell{
      &--block{
        flex-direction: column;
        width: 460px;
        margin-left: 280px;
        height: 860px;
        &__sqaure{
          margin-top: 10px;
        }
      }
    }
  }
  #navbar{
    .navbar{
      width: 90%;
      &--btn{
        margin-right: 170px;
      }
    }
  }
  #learn{
    .learn{
      &--title{
        margin-right: 120px;
      }
      &--logo{
        margin-right: 120px;
      }
    }
  }
  #top{
    button{
      margin-left: 450px;
    }
    h1{
      margin-right: 120px;
    }
    .top{
      &--block{
        margin-right: 120px;
      }
    }
  }
  #seller{
    h1{
      margin-right: 120px;
    }
    .seller{
      &--logo{
        margin-right: 120px;
      }
      &--title{
        margin-right: 120px;
      }
      &--title2{
        margin-right: 120px;
      }
    }
  }
  #blog{
    h1{
      padding-right: 120px;
    }
    .blog{
      &--title{
        margin-right: 120px;
      }
    }
  }
  #footer{
    .footer{
      margin-right: 120px;
      text-align: center;
    }

  }
}

@media (max-width: 768px) {
  #navbar{
    .navbar{
      &--nav{
        display: none;
      }
      &--menu{
        display: block;
      }
    }
  }
  #sell{
    .sell{
      &--block{
        margin-left: 80px;
      }
    }
  }
}

@media (max-width: 576px) {
  #navbar{
    .navbar{
      &--btn{
        margin-right: 20px;
      }
    }
  }
  #sell{
    .sell{
      h1{
        margin-left: 10px;
      }
      &--block{
        margin-left: 5px;
        &__sqaure{
          margin-top: 10px;
        }
      }
    }
  }
  #top{
    .top{
      &--block{
        margin-right: 1px;
      }
    }
    button{
      margin-left: 150px;
    }
  }
  #learn{
    .learn{
      &--logo{
        &__block{
          width: 514px;
          margin-left: 130px;
        }
      }
    }
  }
  #hero{
    .hero{
      &--img{
        width: 90%;
        &__desc{
          margin-right: 1px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #hero{
    .hero{
      &--img{
        &__desc{
          width: 90%;
          &--our{
            margin-left: 180px;
          }
          &--ime{
            margin-left: 180px;
          }
        }
      }
      &--logo{
        &__block{
          width: 90%;
        }
        &__btn{
          margin-left: 60px;
        }
        h1{
          margin-left: 60px;
        }
        p{
          margin-left: 60px;
        }
      }
    }
  }
  #sell{
    .sell{
      &--block{
        width: 90%;
      }
      h1{
        margin-left: 10px;
      }
    }
  }
  #learn{
    .learn{
      &--logo{
        &__block{
          width: 90%;
          height: 90%;
          img{
            width: 90%;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #navbar{
    .navbar{
      &--btn{
        margin-left: 60px;
        button{
          margin-top: 10px;
        }
      }
    }
  }
  #hero{
    .hero{
      &--img{
        &__desc{
          img{
            width: 90%;
          }
        }
      }
    }
  }
  #learn{
    .learn{
      &--logo{
        &__block{
          &--title{
            display: none;
          }
        }
      }
    }
  }
  #sell{
    .sell{
      h1{
        margin-left: 10px;
      }
    }
  }
  #top{
    .top{
      &--block{
        width: 90%;
        &__title{
          &--art{
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {
  #hero{
    .hero{
      &--logo{
        h1{
          margin-left: 50px;
        }
      }
    }
  }
}




