@media (max-width: 1440px) {
  #hero{
    .hero{
      &--img{
        &__desc{
          &--our{
            margin-left: 620px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #hero{
    .hero{
      &--img{
        &__desc{
          &--ime{
            margin-left: 280px;
          }
          &--our{
            margin-left: 400px;
          }
        }
      }
    }
  }
  #sell{
    .sell{
      &--block{
        width: 1100px;
        &__sqaure{
          width: 290px;
        }
      }
    }
  }
  #top{
    .top{
      flex-direction: column;
      &--block{
        margin-bottom: 10px;
      }
    }
  }
  #block{
    .block{
      flex-direction: column;
      &--title{
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #navbar{
    .navbar{
      &--btn{
        margin-right: 130px;
      }
    }
  }
  #hero{
    .hero{
      flex-direction: column;
      &--img{
        margin-top: 30px;
      }
    }
  }
  #learn{
    .learn{
      &--title{
        &__btn{
          button{
            margin-right: 30px;
          }
        }
      }
      &--logo{
        flex-direction: column;
        &__block2{
          margin-top: 20px;
        }
      }
    }
  }
  #sell{
    .sell{
      flex-direction: column;
      &--logo{

      }
      &--block{
        width: 85%;
      }
    }
  }
  #block{
    .block{
      flex-direction: column;
      &--title{
        margin-bottom: 20px;
      }
    }
  }
  #footer{
    .footer{
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (max-width: 992px) {
  
}