@media (max-width: 1440px) {
  #hero{
    .hero{
      &--img{
        &__desc{
          &--our{
            margin-left: 620px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #hero{
    .hero{
      &--img{
        &__desc{
          &--ime{
            margin-left: 280px;
          }
          &--our{
            display: block;
            margin-left: 420px;
          }
        }
      }
    }
  }
  #sell{
    .sell{
      &--block{
        width: 90%;
      }
    }
  }
  #top{
    .top{
      flex-direction: column;
      &--block{
        margin-left: 10px;
      }
    }
  }
  #blog{
    .blog{
      flex-direction: column;
      &--title{
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #navbar{
    .navbar{
      &--btn{
        margin-right: 10px;
      }
    }
  }
  #hero{
    .hero{
      flex-direction: column;
      width: 90%;
      &--img{
        &__art{
          img{
            margin-top: 40px;
          }
        }
      }
    }
  }
  #learn{
    .learn{
      &--title{
        flex-direction: column;
        p{
          padding: 20px 0;
        }

      }
      &--logo{
        flex-direction: column;
        &__block2{
          margin-top: 30px;
        }
      }
    }
  }
  #seller{
    .seller{
     flex-direction: column;
    }
  }
  #footer{
    .footer{
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (max-width: 992px) {
  #hero{
    .hero{
      &--img{
        &__desc{
          margin-right: 160px;
        }
      }
    }
  }
  #sell{
    .sell{
      &--block{
        flex-direction: column;
        width: 460px;
        margin-left: 280px;
        &__sqaure{
          margin-top: 10px;
        }
      }
    }
  }
  #navbar{
    .navbar{
      width: 90%;
      &--btn{
        margin-right: 170px;
      }
    }
  }
  #learn{
    .learn{
      &--title{
        margin-right: 120px;
      }
      &--logo{
        margin-right: 120px;
      }
    }
  }
  #top{
    button{
      margin-left: 450px;
    }
    h1{
      margin-right: 120px;
    }
    .top{
      &--block{
        margin-right: 120px;
      }
    }
  }
  #seller{
    h1{
      margin-right: 120px;
    }
    .seller{
      &--logo{
        margin-right: 120px;
      }
      &--title{
        margin-right: 120px;
      }
      &--title2{
        margin-right: 120px;
      }
    }
  }
  #blog{
    h1{
      padding-right: 120px;
    }
    .blog{
      &--title{
        margin-right: 120px;
      }
    }
  }
  #footer{
    .footer{
      margin-right: 120px;
    }

  }
}

@media (max-width: 768px) {
  #navbar{
    .navbar{
      &--menu{
        display: block;
      }
    }
  }
}


